/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%) */


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

.container{
    display: flex;
    width: 60%;
    height: 60%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;

}

.sedans{
    display: flex;
    background: hsl(31, 77%, 52%);
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    font-size: 15px;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 83%;
}

.sedans .lm{
    color: rgb(235, 149, 21);
    background-color: white;
}

.lm{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 40px;
    height: 40px;
    width: 50%;
    font-size: 10px;
    margin-top: 20px;
}

.suvs{
    display: flex;
    background: hsl(184, 100%, 22%);
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    font-size: 15px;
    text-align: left;
    height: 83%;   
}

.suvs .lm{
    color:  rgb(32, 128, 132);
    background-color: white;
}

.luxury{
    display: flex;
    background: hsl(179, 100%, 13%);
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    font-size: 15px;
    text-align: left;
    height: 83%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.luxury .lm{
    background-color: white;
    color: rgb(7, 63, 65);
}

.suvs img{
    height: 22px;
    width: 39px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.sedans img{
    height: 22px;
    width: 39px;
    margin-bottom: 20px;
}

.luxury img{
    height: 22px;
    width: 39px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.hd{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
}

@media(max-width: 700px){
    .container{
        display:flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .sedans{
        display: flex;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }

    .sedans .lm{
        background: white;
        color: rgb(235, 149, 21);
    }
    .luxury{
        display: flex;
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .suvs .lm{
        background: white;
        color:  rgb(32, 128, 132);
    }

    .luxury .lm{
        background: white;
        color:  rgb(7, 63, 65);
    }
}